.app{
    display:flex;
    justify-content: space-around;
}

body{
    background-color: bisque;
}

input{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    padding: 6px;
}
input:focus{
    outline:none;
}
button{
    margin-left: 4px;
    border: none;
    border-radius: 6px;
    padding: 6px;
    background: rgb(231, 215, 145);
    color:rgb(253, 253, 253);
}
.todo-true{
    text-decoration: line-through;
    margin-top:12px;
}
.todo-false{
    margin-top:12px;
}