.breed-window{
    justify-content: center;
    display: flex;
    .breed-details{
        border-radius: 20px;
        margin-top: 20px;
        width: 80vw;
        display:flex;
        flex-direction: column;
        color:white;
        background-color: #fca311;
        img{
            width: 80vw;
            height: auto;
            border: none;
            border-radius: 0;
        }
        .breed-buttons{
            display:flex;
            justify-content: space-around;
        }
        .breed-info{
            display:flex;
            justify-content: space-around;
        }
        .loading{
            text-align: center;
            border-radius: none;
        }
        div{
            margin-left: 20px;
        }
    }
}
