.images-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    .image{
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 24px;
        margin-right: 20px;
        
    }
    .no-image{
        height: 400px;
        width: 450px;
        background-color: white;
        color:#e5e5e5;
        font-size: 250px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 24px;
    }
}

img{
    height: 400px;
    width: 450px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;


}

.images-filters{
    color:white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #242d57;
    border-bottom: #fca311 4px solid;
    padding: 20px;

    input,select{
        height: 30px;
        width: 30vw;
        margin:4px;
        border-radius:10px;
        border: none;
        padding-left: 10px;
    }
    .images-fieldname{
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .images-checkboxes{
        color:black;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 20px;
        align-items: center;
        input{
            width: 40px;
            border: none;
        }
    }
}
