img{
    height: 600px;
    width: 650px;
    object-fit: cover;
}
.breed-details{
    width: 650px;
    display:flex;
    flex-direction: column;
    color:white;
}
.breed-window{
    justify-content: center;
    display: flex;
}
